.HexagramSquare {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.HexagramSquare > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.HexagramSquare > div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.HexagramSquare > div > div:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.HexagramSquare > div > div > .hLink {
  align-self: center;
}

.HexagramSquare > div > div > .vLink {
  align-self: center;
}

.hLink {
  min-width: 6rem;
  border-top: 1pt solid blue;
  font-size: .6rem;
  text-align: center;
}

.vLink, .vLink2 {
  min-height: 5rem;
  max-width: 1pt;
  line-height: 5rem;
  font-size: .6rem;
  overflow: visible;
  padding-left: .2rem;
  border-left: 1pt solid red;
}
.vLink2 {
  border-left: 1pt solid blue;
}

.HexagramComponentWrap {
  width: 7rem;
  padding: 1rem;
  text-align: center;
}