
select {
  height: 2rem;
  padding: 0.25rem;
  border: 1pt solid #333;
  border-radius: 5px;
}

select[multiple] {
  vertical-align: bottom;
}

select[multiple]:hover,
select[multiple]:focus,
select[multiple]:active {
  position: relative;
  top: 7.5rem;
  height: 9.5rem;
  margin-top: -7.5rem;
  z-index: 1;
}

select[multiple] option {
  height: 1.5rem;
}

.App {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.App_Controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2rem;
  background-color: #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.App_View {
  margin-top: 2rem;
}
